<style>
    .text-justify {
        text-align: justify;
    }
</style>


<div class="flex my-5">
    <h1 class="fw-semibold">Your Career Starts Here</h1>
    <div class="d-flex align-items-center gap-5">
        <p class="lead mb-2 text-justify">
            Careerlytics is your go-to platform for job applications and listings. We simplify the job search with a
            comprehensive database of opportunities across various industries.
            <br><br>
            Our mission is to connect job seekers with ideal positions through easy access to listings and streamlined
            application tools. Whether you're starting your career or seeking new challenges, Careerlytics is here to
            help you find the right job.
            <b>Join us today!</b>
        </p>
        <img src="/static/company_team.png" alt="Careerlytics Image"
            style="width:500px; box-shadow: 0px 1px 0px 0px rgba(76, 75, 75, 0.1);" class="align-self-center" />
    </div>
</div>